name: safespace_doctor_app
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  font_awesome_flutter: ^10.9.1
  supabase_flutter: ^2.10.3
  icons_plus: ^5.0.0
  introduction_screen: ^4.0.0
  intl: ^0.20.2
  image_picker: ^1.2.0
  line_icons: ^2.0.3
  google_nav_bar: ^5.0.7
  provider: ^6.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
